body{ 
     font-family: "Montserrat", sans-serif;
     margin: 0;
}

/* header stuff here*/
    header{
        background-color:#d9d9d9 ;
        padding: 1rem 10px;
    }
    header span{
        color:#8c5a63 ;
        font-size: 1.6rem;
        font-weight: 700;
    }
    /*naviagtion stuff here */
    nav{
        background-color: #d9c1c5;
    }
    nav ul{
        margin: 0;
        padding: 0 10px ;
        list-style-type: none;
        display: flex;
    }
    nav a{
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #8c5a63;
        font-weight: 700;
    }

    nav li.active a{
        background-color: #8c5a63;
        color:#d9c1c5;

    }

    nav li a:hover{
        color: white;
    }
/*main stuff here */
main{
    padding: 2rem 5%;
}

main h1{
    color:#402e2e;
}
main h2{
    color: #8c5a63;
    margin-bottom: .2rem;   
}
main p{
    margin: 0;
    color: #333;
}
main ol{
    padding: .5rem 30px;
    background-color: #d9d9d9;
}
main dl dt{
    color: #402e2e;
    font-weight: 700;
    margin-top: 1rem;

}
main dl dd{
 color: #8c5a63;
 font-size: .9rem;
 margin-left: 20px;
} 
main ul{
    list-style-type: circle;
}
main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong{
    font-weight: 700;
    color: black;
}
main em {
    font-weight: 300;
    
}
main address{
    font-style: normal;
    background-color: #d9c1c5;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #8c5a63;
    width: 200px;
}
main a {
    color: #8c5a63;
}
main a:hover{
    color:rgb(64,46,62);
}
footer {
    max-width: 800px;     
    margin: 2rem auto;     
    padding: 20px;        
    text-align: center;   
}
.source-text {
    font-size: 0.75rem;    /* Much smaller than the standard 1rem */
    color: #666;           /* Lighter grey so it doesn't distract */
    text-align: center;
    margin-top: 2rem;      /* Adds space between the content and the source */
    font-style: italic;    /* Optional: gives it a "citation" look */
}